<div class="row" style="margin-top:80px;">
  <div class="col-md-6 col-md-offset-3" style="margin-bottom:20px;">
    <div class="form-group">
      <h2 style="margin-bottom:20px;">Edit your account</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field text-center" style="margin-bottom:20px;">
          <img id="avatar_img_prev" src="#" class="hidden img-circle" style="width:150px; height:150px;">
          <%= image_tag @user.avatar, class: 'img-circle avatar_present_img',
                                          style: 'cursor:pointer;',
                                          onClick:"$('#user_avatar').click()" if @user.avatar? %>
        </div>

        <div class="field text-center" style="margin-bottom:20px;">
          <span class="upload">
            <label for="user_avatar" style="color:blue; cursor:pointer;">Change your avatar</label>
            <%= f.file_field :avatar, id: :user_avatar,
                                      class: 'image-upload',
                                      style: 'display:none;',
                                      accept: 'image/jpeg,image/jpg,image/png' %>
            <%= f.hidden_field :avatar_cache %>
          </span>
        </div>

        <div class="field" style="margin-bottom:20px;">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Enter your name", class: "form-control" %>
        </div>

        <div class="field" style="margin-bottom:20px;">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: "Enter email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field" style="margin-bottom:20px;">
          <%= f.label :password %>
          <ul>
            <li>leave blank if you don't want to change it</li>
            <li><%= "#{@minimum_password_length} characters minimum" if @minimum_password_length %></li>
          </ul>
          <%= f.password_field :password, placeholder: "Enter new password", autocomplete: false, class: "form-control" %>
        </div>

        <div class="field" style="margin-bottom:20px;">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: "Enter new password again", autocomplete: false, class: "form-control" %>
        </div>

        <div class="field" style="margin-bottom:20px;">
          <%= f.label :current_password %>
          <ul>
            <li>we need your current password to confirm your changes</li>
          </ul>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter current password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>

    <hr>

    <div class="back-to-show" style="margin-bottom:20px;">
      <%= button_to "Back", user_path(current_user), class: "btn btn-default btn-block" %>
    </div>

    <div class="cancel-account">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-block", method: :delete %>
    </div>

  </div>
</div>
