<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <h2>Create Your Account</h2>
      <div class="buttons" style="margin-top: 20px;">
        <ul>
          <li>
              <div class="btn btn-default btn-facebook">
                <span class="fa fa-facebook"></span>
                Facebook
              </div>
          </li>
          <li>
              <div class="btn btn-default btn-twitter">
                <span class="fa fa-twitter"></span>
                Twitter
              </div>
          </li>
          <li>
              <div class="btn btn-default btn-google">
                <span class="fa fa-google"></span>
                Google
              </div>
          </li>
        </ul>
      </div>

      <hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "Enter email", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "Enter password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Enter password again", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Create your account", class: "btn btn-success btn-block" %>
        </div>
      <% end %>

      <hr>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
