<div class="<%= current_page?(root_path) ? "col-lg-2 col-sm-4 col-xs-6" : "col-lg-3 col-sm-4 col-xs-6 album" %>">
  <!-- spotifyからのインスタンスを表示するpartialなので、album.idはspotifyのidを指定している -->
  <%= link_to album_path(album.id), class: "portfolio-box", ontouchstart: "" do %>
    <%= image_tag album.images.first["url"], class: "img-responsive", alt: album.name %>
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          <%= album.artists.map { |artist| artist.name }.join(' / ') %>
        </div>
        <div class="project-name">
          <%= album.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>
