<%= form_with(model: album, local: true, multipart: true) do |form| %>
<div class="col-md-6">
  <div class="form-group">
      <% if album.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

          <ul>
          <% album.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :album_name %><br />
        <%= form.text_field :album_name, autofocus: true, placeholder: "Enter an album name", class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :album_image %><br />
        <%= form.file_field :album_image, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :artist %>
        <%= form.collection_select :artist_id,
                                   Artist.order(:artist).all,
                                   :id,
                                   :artist,
                                   { :include_blank => "*Choose Artist" },
                                   id: "artist-name",
                                   class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :release %><br />
        <%= form.date_select :release, { :include_blank => true, :start_year => 1900 }, { class: "form-control bootstrap-date" } %>
      </div>

      <!-- genre table should be created to avoid irresponsible data -->
      <div class="field">
        <%= form.label :genre %><br />
        <%= form.text_field :genre, autofocus: true, placeholder: "Enter the genre", class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :description %><br />
        <%= form.text_area :description, autofocus: true, placeholder: "Enter the description of this album", class: "form-control", style: "height:200px;" %>
      </div>

  </div>
</div>

<div class="col-md-6">
  <div class="field">
    <%= form.label :songs %><br />
    <table class="table bordered-table table-hover">
      <thead>
        <th>No.</th>
        <th>Song Name</th>
        <th></th>
      </thead>
      <tbody id="songs">
        <tr>
          <%= form.nested_fields_for :songs, wrapper_tag: :tr do |song| %>
            <td>
              <!-- count input tag or any other way to set track number -->
              <%= song.number_field :track_num, { id: "first_track", class: "form-control" } %>
            </td>
            <td>
              <%= song.text_field :song_name, class: "form-control" %>
            </td>
            <%= song.hidden_field :artist_id, class: "artist_id" %>
            <td> <%= song.remove_nested_fields_link 'Delete',
                                                    class: "delete-song form-control btn btn-danger",
                                                    style: "color:white;" %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%= form.add_nested_fields_link :songs,
                                    'Add New Song',
                                    id: "add_song",
                                    class: "btn btn-warning btn-block",
                                    style: "color:white; margin-bottom:20px;",
                                    role: "button"
                                     %>
  </div>

  <script>
    $(document).ready(function(){
      // This is to count number of tracks.
      var len = $("#songs").children().length;
      var trackNum = len - 2;

      var artistId = 0;
      var firstTrack = 1;

      // This is to set the IDs for each song's input tags.
      $('#first_track').addClass('form-control number' + firstTrack);
      // $('#first_track').val(firstTrack);

      // This is for edit page because edited data has artist_id.
      artistId = $('#artist-name option:selected').val();
      $('.artist_id').val(artistId);

      // This is to set artist_id at songs table.
      $('#artist-name').change(function(){
        artistId = $('#artist-name option:selected').val();
        $('.artist_id').val(artistId);
        alert(artistId);
      });

      $('#add_song').click(function(){
      // This is to set track number automatically.
        len = $("#songs").children().length;
        alert("len: "+ len);
        trackNum = len - 2;
        alert("track no. " + trackNum);
        $('input[name = "album[songs_attributes][' + trackNum + '][track_num]"]').addClass('form-control number' + trackNum);
        $('[name = "album[songs_attributes][' + trackNum + '][track_num]"]').val(trackNum);
      });

      $('.delete-song').click(function(){
        len = $("#songs").children().length;
        trackNum = len - 2;
        alert(trackNum);
      });

      $('#add_artist_id').click(function(){
      // This is to set artist_id to entered songs data.
      // Why here? because add artist_id when add song's input box, it didn't work.
        $('.artist_id').val(artistId);
        var temp = $('.artist_id').val();
        alert("artist ID: " + temp);
      });
    });
  </script>

</div>

<div class="col-md-8 col-md-offset-2">
  <div class="actions">
    <%= form.submit id: "add_artist_id", class: "btn btn-success btn-block" %>
  </div>
</div>
<% end %>
