<% provide(:page_title, 'Albums') %>
<div class="row" style="margin-top:60px;">
  <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
    <%= render partial: 'search' %>
  </div>
</div>

<hr>

<div class="row no-gutter">
  <div id="albums-list">
    <% if @albums.present? %>
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h4>Results of <%= params[:album_name] %></h4>
          <%= render partial: 'album', collection: @albums %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <h4>New Releases</h4>
      <%= render partial: 'album', collection: @new_releases %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <h4>Top Reviewed Albums</h4>
      <%= render partial: 'persisted_album', collection: @top_reviewed_albums %>
    </div>
  </div>
</div>
