<% provide(:page_title, @album.name) %>
<div class="container" style="margin-top:60px;">
  <div class="row" style="margin-top:20px;">
    <div class="col-md-4">
      <%= image_tag @album.image, class: "img-responsive" %>
      <div class="star-rating" style="margin-top:10px;" data-score= <%= @album.average_rating %> ></div>
      <em><%= "#{@album.reviews_count} reviews" %></em>
      <h3><%== @album.artists.map { |artist| link_to artist.name, artist_path(artist.spotify_id) }.join(' / ') %></h3>
      <p>
        <h4 style="display:inline;"><%= @album.name %></h4>
        <p style="display:inline; float:right;"><%= @album.release_date %></p>
      </p>
      <p style="margin-top:10px;">
        <%= link_to icon('fab', 'spotify', 'Go to Spotify'), @album.external_urls, class: 'btn btn-success btn-block', target: '_blank' %>
      </p>

      <table class="table bordered-table">
        <tbody>
          <% @album.songs.each do |song| %>
          <tr>
            <td><%= song.track_number %></td>
            <td><%= song.name %></td>
            <td><%= link_to icon('fas', 'volume-up'), song.preview_url if song.preview_url %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-8" style="margin-bottom:20px;">
      <%= render 'reviews/form', review: @review, album: @album, id: @album.id %>
      <hr>
      <% if @reviews.blank? %>
        <h3 style="border-bottom:solid 1px #eee;">There is no reviews...</h3>
      <% else %>
        <%= render partial: 'reviews/review', collection: @reviews %>
        <%= paginate @reviews %>
      <% end %>
    </div>
  </div>
  <hr>
  <% @artists.each do |artist| %>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h4>More by <%= artist.name %></h4>
          <%= render partial: 'album', collection: artist.albums %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h4>Top Reviewed Albums</h4>
        <%= render partial: 'persisted_album', collection: @top_reviewed_albums %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    size: 6,
    half: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
