<% provide(:page_title, @album.name) %>
<div class="container" style="margin-top:60px;">
  <div class="row" style="margin-top:20px;">
    <div class="col-md-4">
      <%= image_tag @album.image, class: "img-responsive" %>
      <div class="star-rating" style="margin-top:10px;" data-score= <%= @avg_rating %> ></div>
      <em><%= "#{@album.reviews_count} reviews" %></em>
      <h3><%= @album.artist.name %></h3>
      <span>
        <h4 style="display:inline;"><%= @album.name %></h4>
        <p style="display:inline; float:right;"><%= @album.release_date %></p>
      </span>

      <table class="table bordered-table">
        <tbody>
          <% @album.songs.each do |song| %>
          <tr>
            <td><%= song.track_number %></td>
            <td><%= song.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-8" style="margin-bottom:20px;">
      <%= render 'reviews/form', review: @review, album: @album, id: @album.id %>
      <hr>
      <% if @reviews.blank? %>
        <h3 style="border-bottom:solid 1px #eee;">There is no reviews...</h3>
      <% else %>
        <%= render partial: 'reviews/review', collection: @reviews %>
      <% end %>
      <%= paginate @reviews %>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    size: 6,
    half: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
