<div class="row" style="margin-top:20px;">
  <div class="col-md-4">
    <%= image_tag(@album.album_image, style: "width:300px; height:300px;") %>
  </div>
  <div class="col-md-8">
    <h3> <%= @album.artist.artist %> </h3>
    <span>
      <h4><%= @album.album_name %></h4>
      <p>
        <% t = @album.release %>
        <%= t.strftime(" %Y %b %d") %> /
        <%= @album.genre %>
      </p>
    </span>

    <table class="table bordered-table">
      <tbody>
        <% @album.songs.each do |song| %>
        <tr>
          <td><%= song.track_num %></td>
          <td><%= song.song_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Write a Review', new_review_path(@album.id), name: @album.id , class: "btn btn-primary btn-block", style: "color:white; margin-bottom:20px;" %>
    <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-success btn-block", style: "color:white;" %>
    <hr>
    <%= link_to 'Back', albums_path, class: "btn btn-default btn-block" %>
  </div>

</div>
