<footer>
  <div class="footer-top">
    <span><%= link_to 'Home', root_path, data: { turbolinks: 'false' } %></span>
    <span><%= link_to 'About', '/#services', data: { turbolinks: 'false' } %></span>
    <span><%= link_to 'Contact', '/#contact', data: { turbolinks: 'false' } %></span>
    <span><%= link_to 'Terms', terms_path %></span>
    <span style="margin-right:-10px;"><%= link_to 'Privacy', privacy_path %></span>
  </div>

  <div class="footer-middle">
    <span class="fab fa-facebook"></span>
    <span class="fab fa-twitter"></span>
    <span class="fab fa-github" style="margin-right:-10px;"></span>
  </div>

  <div class="footer-bottom">
    <span>&copy; <%= Time.zone.now.year %> Music Review - All Rights Reserved</span>
  </div>
</footer>
