<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/Donald_Fagen_-_The_Nightfly.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Donald Fagen
                            </div>
                            <div class="project-name">
                                Nightfly
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/beatles_sgt.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Beatles
                            </div>
                            <div class="project-name">
                                Sgt. Pepper's Lonely Hearts Club Band
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/eagles_hotel_california.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eagles
                            </div>
                            <div class="project-name">
                                Hotel California
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/radiohead_ok_computer.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Radiohead
                            </div>
                            <div class="project-name">
                                OK Computer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/billy_joel_stranger.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Billy Joel
                            </div>
                            <div class="project-name">
                                Stranger
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/ymo-solid-state-survivor.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                YMO
                            </div>
                            <div class="project-name">
                                Solid State Survivor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/marvin_gaye_what's_going_on.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Marvin Gaye
                            </div>
                            <div class="project-name">
                                What's Going On
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/aja-steely-dan.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Steely Dan
                            </div>
                            <div class="project-name">
                                Aja
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/stone_roses.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Stone Roses
                            </div>
                            <div class="project-name">
                                The Stone Roses
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/mybloodyvalentine_loveless.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                My Bloody Valentine
                            </div>
                            <div class="project-name">
                                Loveless
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/eric_clapton_one_more_car_one_more_rider.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eric Clapton
                            </div>
                            <div class="project-name">
                                One More Car, One More Rider
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/robben_ford_the_inside_story.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Robben Ford
                            </div>
                            <div class="project-name">
                                The Inside Story
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
