<section class="no-padding" id="portfolio">
  <div class="row no-gutter">
    <!-- TODO: Rspotify用クラス作成後、以下のパーシャルを使うようにする -->
    <% @most_reviewed_albums.each do |album| %>
      <div class="<%= current_page?(root_path) ? "col-lg-2 col-sm-4 col-xs-6" : "col-lg-3 col-sm-4 col-xs-6 album" %>">
        <%= link_to album_path(album.spotify_id), class: "portfolio-box" do %>
          <%= image_tag album.image, class: "img-responsive", alt: album.name %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <%= album.artists.map { |artist| artist.name }.join(' / ') %>
              </div>
              <div class="project-name">
                <%= album.name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%#= render partial: 'albums/album', collection: @most_reviewed_albums %>
  </div>
</section>
