<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= form_with(model: music, local: true, multipart: true) do |form| %>
        <% if album.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

            <ul>
            <% album.errors.full_messages.each do |message| %>
              <li><%= album %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <!-- choose artist name using select menu, demo project has how to take the artist name from table -->
        <div class="field">
          <%= f.label :album_name %><br />
          <%= f.text_field :album_name, autofocus: true, placeholder: "Enter artist name", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :album_image %><br />
          <%= f.file_field :album_image, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.label :artist %>
          <%= form.select :artist_id, options_from_collection_for_select(Artist.all, :artist_name, :artist_name) %>
        </div>

        <div class="actions">
          <%= form.submit "Add Album", class: "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
