<%= form_with(model: review, class: 'review') do |form| %>
  <%= devise_error_messages!(resource: review) %>
  <span id="error-messages-for-create"></span>

  <div class="form-group">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :review_title, class: "form-control", placeholder: "What's most important to know?" %>
    </div>

    <div class="field">
      <%= form.label :text %>
      <%= form.text_area :text, id: :review_text, class: "form-control", style: "height:200px;", placeholder: "What did you like or dislike?" %>
    </div>

    <div class="field" id="star-rating-<%= type %>-<%= id %>" data-score="<%= review.rating %>">
      <%= form.label :rating %>
      <%= form.hidden_field :rating, id: :review_rating %>
    </div>

    <div class="field">
      <%= form.hidden_field :album_id, id: :review_album_id, value: album.id, class: "form-control" %>
    </div>

    <div class="actions" style="margin-top:25px;">
      <%= form.submit class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<script>
  $('#star-rating-<%= type %>-<%= id %>').raty({
    path: '/images/',
    half: true,
    size: 6,
    scoreName: 'review[rating]',
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
