<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @review.grade %>
</p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
