<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('drum-set-silhouette-512-246168.png'), rel: 'icon', type: 'image/png' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render partial: "creatives/navbar" %>
    <% unless notice.blank? %>
      <p class="notice alert alert-success text-center" role="alert" style="margin-top:50px;"><%= notice %></p>
    <% end %>
    <% unless alert.blank? %>
      <p class="alert alert-danger text-center" role="alert" style="margin-top:50px;"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render partial: "creatives/footer" %>
  </body>
</html>
